USE [master]
GO
/****** Object:  Database [Farmacy]    Script Date: 2024/07/08 21:49:59 ******/
CREATE DATABASE [Farmacy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Farmacy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Farmacy.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Farmacy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Farmacy_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Farmacy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Farmacy]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2024/07/08 21:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Animal]    Script Date: 2024/07/08 21:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Species] [nvarchar](max) NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[HealthStauts] [nvarchar](max) NOT NULL,
	[Breed] [nvarchar](max) NOT NULL,
	[Colour] [nvarchar](max) NOT NULL,
	[Weight] [float] NOT NULL,
	[Height] [float] NOT NULL,
	[DateAcquired] [datetime2](7) NOT NULL,
	[Age] [int] NOT NULL,
 CONSTRAINT [PK_Animal] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Animals]    Script Date: 2024/07/08 21:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Species] [varchar](50) NOT NULL,
	[Gender] [varchar](50) NOT NULL,
	[HealthStatus] [varchar](50) NOT NULL,
	[A_Weight] [decimal](18, 0) NOT NULL,
	[Height] [decimal](18, 0) NOT NULL,
	[Age] [int] NOT NULL,
	[DateAcquired] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questionaire]    Script Date: 2024/07/08 21:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questionaire](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateAcquired] [date] NULL,
	[Q_One] [int] NOT NULL,
	[Q_Two] [int] NOT NULL,
	[Q_Three] [int] NOT NULL,
	[Q_Four] [int] NOT NULL,
	[Q_Five] [int] NOT NULL,
	[Q_Six] [int] NOT NULL,
	[Q_Seven] [int] NOT NULL,
	[Q_Eight] [int] NOT NULL,
	[Q_Nine] [int] NOT NULL,
	[Q_Ten] [int] NOT NULL,
	[U_ID] [nvarchar](30) NOT NULL,
	[Cid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 2024/07/08 21:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TasK_Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Task] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskAllo]    Script Date: 2024/07/08 21:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskAllo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Task_Id] [int] NOT NULL,
	[User_Id] [nvarchar](450) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Duedate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskAllocation]    Script Date: 2024/07/08 21:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskAllocation](
	[Task_Id] [int] NOT NULL,
	[User_Id] [nvarchar](450) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Duedate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TaskAllocation] PRIMARY KEY CLUSTERED 
(
	[Task_Id] ASC,
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2024/07/08 21:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Surname] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[UserType] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TaskAllocation_User_Id]    Script Date: 2024/07/08 21:49:59 ******/
CREATE NONCLUSTERED INDEX [IX_TaskAllocation_User_Id] ON [dbo].[TaskAllocation]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Questionaire] ADD  DEFAULT (getdate()) FOR [DateAcquired]
GO
ALTER TABLE [dbo].[TaskAllo]  WITH CHECK ADD FOREIGN KEY([Task_Id])
REFERENCES [dbo].[Task] ([Id])
GO
ALTER TABLE [dbo].[TaskAllo]  WITH CHECK ADD FOREIGN KEY([User_Id])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[TaskAllocation]  WITH CHECK ADD  CONSTRAINT [FK_TaskAllocation_Task_Task_Id] FOREIGN KEY([Task_Id])
REFERENCES [dbo].[Task] ([Id])
GO
ALTER TABLE [dbo].[TaskAllocation] CHECK CONSTRAINT [FK_TaskAllocation_Task_Task_Id]
GO
ALTER TABLE [dbo].[TaskAllocation]  WITH CHECK ADD  CONSTRAINT [FK_TaskAllocation_User_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[TaskAllocation] CHECK CONSTRAINT [FK_TaskAllocation_User_User_Id]
GO
USE [master]
GO
